.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  min-height: 100vh;

  .preloader-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
    height: 10rem;
    filter: brightness(1.1);
  }
}
