.contact-button {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border: 2px solid white;
    color: white;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}